.movie-card {
    width: 454px;
    height: 280px;
    display: flex;
    box-shadow: 5px 6px 16px -1px rgba(0, 0, 0, 0.64);
    -webkit-box-shadow: 5px 6px 16px -1px rgba(0, 0, 0, 0.64);
    margin: 0 18px 35px 18px;

    &__image {
        height: 102%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 183px;

        .image {
            height: 281px;
            width: 186px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__content {
        padding: 12px 10px 49px 20px;
        width: 241px;

        &--wrapper {
            display: block;
            height: 223px;
            overflow: hidden;
            text-overflow: ellipsis;

            &__title-wrapper {
                display: flex;
                justify-content: space-between;

                h3 {
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 28px;
                    margin-top: 0px;
                    margin-bottom: 7px;
                }
            }

            &__date {
                color: #827e7e;
                font-size: 12px;
                line-height: 22px;
                margin-bottom: 9px;
            }

            &__description {
                font-size: 12px;
                font-weight: 400;
                line-height: 22px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        &__rating {
            margin-left: -5px;
            font-size: 16px;
        }
    }
}

.votes {
    border-radius: 50%;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
}