.App {
  box-sizing: border-box;
  margin: 0 auto;
  background: white;
  width: 1010px;
  font-family: 'Inter', sans-serif;

}
  
  .pagination-wrapper {
    height: 70px;
    width: 100%;
    padding: 10px;
    margin: 0 auto;

    &__item {
      width: 46%;
      margin: 0 auto;
    }
}